/* Colour scheme variables */
:root {
    --pale-orange: #fffab7;
    --orange: #FFB566;
    --pink: #ec3ab0;
    --light-blue: #46fff1;
    --black: #000000;
    --purple: #8b01c6;
    --dark-blue: #3600b1;
    --green: #7AFF99;
}

@font-face {
    font-family: DigitalFont;
    src: url(./fonts/aadhunik-webfont.woff);
}

* {
    font-family: DigitalFont;
}

body {
    display: flex;
    background-color: var(--black);
    flex-direction: row;
    width: 100%;
}

.content,
.vanity-bar,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    color: white;
    font-family: DigitalFont;
}

.vanity-bar {
    width: 40vw;
    position: relative;
    display: flex;
    flex: 0 0 auto;
}

.content {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0 1 auto;
}

.cnt-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    min-width: 400px;
    height: 60%;
    min-height: 400px;
}

.vanity-band {
    font-family: DigitalFont;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#vanity-title {
    font-size: 80px;
}

.vanity-link {
    color: var(--pale-orange);
    position: absolute;
    left: 40%;
    top: 95%;
    align-content: center;
}

a:link {
    /* unvisited link */
    color: var(--light-blue);
}

a:visited {
    /* visited link */
    color: var(--pale-orange);
}

a:hover {
    color: var(--light-blue);
}

#vanity-video {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}

#logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150px;
    animation: flicker 1.0s infinite alternate;
    position: relative;
    top: -12%;
}

#vanity-title {
    padding: 0;
    margin: 0;
    padding-left: 60px;
    font-size: 80px;
    font-weight: 200;
    letter-spacing: 10px;
    animation: flicker 1.5s infinite alternate;
}

/* taken from css-tricks: https://css-tricks.com/how-to-create-neon-text-with-css/#aa-the-flickering-effect */
@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 40px var(--light-blue),
            0 0 80px var(--light-blue),
            0 0 90px var(--light-blue),
            0 0 100px var(--light-blue);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

/* taken from css-tricks: https://css-tricks.com/how-to-create-neon-text-with-css/#aa-the-flickering-effect */
@keyframes box-flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        box-shadow:
            0 0 4px #fff,
            0 0 40px var(--light-blue),
            0 0 80px var(--light-blue),
            0 0 90px var(--light-blue),
            0 0 100px var(--light-blue);
    }

    20%,
    24%,
    55% {
        box-shadow: none;
    }
}

.cnt-form {
    width: 100%;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
}

.input {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
}

.form {
    width: 100%;
    font-size: 20px;
    box-shadow: 5px 5px 3px var(--black);
}

.form-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 15px;
}

/*vvv Remove arrows from phone number input field vvv*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*^^^ Remove arrows from phone number input field ^^^*/

input+span {
    position: relative;
}

input[type="submit"] {
    background-color: var(--black);
    color: var(--pink);
    width: 120px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    border: 2px solid var(--pink);
}

input[type="submit"]:hover {
    border: 2px solid var(--light-blue);
    color: var(--light-blue);
}

input+span::after {
    font-size: 0.7rem;
    position: absolute;
    padding: 5px 10px;
    top: -65px;
}

input:required+span::after {
    color: var(--pale-orange);
    background-color: var(--black);
    border: 2px solid var(--pink);
    border-radius: 5px;
    content: "Required";
    right: 10px;
}

input:required:valid+span::after {
    border: 2px solid var(--green);
}

input:required:invalid:not(:placeholder-shown)+span::after {
    border: 2px solid var(--orange);
}

input+span::before {
    position: absolute;
    right: -30px;
    top: -55px;
    margin-left: 20px;
}

input:invalid:not(:placeholder-shown) {
    border: 4px solid var(--orange);
}

input:valid:not(:placeholder-shown):not(input[type="submit"]) {
    border: 4px solid var(--green);
}

input {
    height: 40px;
    border-radius: 5px;
    border: 4px solid var(--pink);
    background-color: var(--black);
    color: white;
    outline: none;
}


input:invalid:not(:placeholder-shown)+span::before {
    content: "⨂";
    color: var(--orange);
    font-size: 30px;
}

input:valid:not(:placeholder-shown)+span::before {
    content: "⨁";
    color: greenyellow;
    font-size: 30px;
}

fieldset {
    outline: none;
    border: none;
}

legend {
    font-size: 35px;
}